<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">|
<head>
  <meta charset="UTF-8">
  <title>My Product List</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1 th:text=${name}></h1>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Ma</th>
      <th>Anh</th>
      <th>Luong</th>
      <th>Phong Ban</th>
      <th>Action</th>
    </tr>
    <tr th:each="nhanvien : ${nhanviens}">
      <td th:text="${nhanvien.id}"></td>
      <td th:text="${nhanvien.ten}"></td>
      <td th:text="${nhanvien.ma}"></td>
      <td>
        <img th:if="${nhanvien.phai == 'nam'}" th:src="@{/image/nam.jpg}" style="width = 100px, height = 100px"/>
        <img th:if="${nhanvien.phai == 'nu'}" th:src="@{/image/nu.jpg}" style="width = 100px, height = 100px"/>
      </td>
      <td th:text="${nhanvien.luong}"></td>
      <td th:text="${nhanvien.phongban.tenphong}"></td>
      <td>
        <a th:href="@{/nhanviens/edit/{id}(id=${nhanvien.id})}">Edit</a>
        <a th:href="@{/nhanviens/delete/{id}(id=${nhanvien.id})}" onclick="return confirm('Are you sure?')">Delete</a>

      </td>
    </tr>
  </table>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>